
<fieldset>
  <legend><strong>Write a check</strong></legend>
<%= form_for(Check.new) do |f| %>


  <div class = "date">
    <%= f.label :date %>:
    <%= f.text_field :date %>
  </div><br />

  <div class = "payable_to">
    <%= f.label :to %>
    <%= f.text_field :to, size: 50 %>
  </div>
    
  <div class = "amount">
    <%= f.label :amount %>
    $<%= f.text_field :amount %>
  </div>

<br />
  
  <div>
    <%= select(:check, :account_id, @account_options) %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  
<% end %>
</fieldset>