<!DOCTYPE html>
<html>
<head>
  <title>CheckRegister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "navbar">
  <ul>
    <li><%= link_to "Accounts", accounts_path %></li>
    <li><%= link_to "Checks", checks_path %></li>
    <li><%= link_to "Write a check", new_check_path %></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
