<h1><%= @account.name %></h1> 
<h2>Checks</h2>
<table>

  <tr>
    <th>Date</th>
    <th>Paid to</th>
    <th>Amount</th>
  </tr>
  <% @account.checks.each do |check| %>
  <tr>
  <td><%= check.date %></td>
  <td class = "name"><%= check.to %></td>
  <td><%= number_to_currency(check.amount) %></td>
  </tr>
  <% end %>
  
<div>Total all checks: <%= number_to_currency(@account.total_expense) %></div>  
<div>Balance: <%= number_to_currency(@account.current_balance) %></div>

<div><%= link_to "Delete", @account, method: :delete, data: { confirm: "Are you sure?" } %></div>